.card {
    height: 50%;
    width: 50%;
    background: #735bf2;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.card .containerUser {
    display: flex;
    align-items: center;
}

.card strong {
    font-size: 18px;
}

.card img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 24px;
}